.login_space{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#login_prompt{
    text-align: center;
    display: none;
}

#logout_form{
    display: none;
}

.tab-pane{
    height:67%;
    overflow-y:scroll;
}